<!DOCTYPE html>
<html lang="en">
<head>
	<title>About:: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Custom Theme files -->
	<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- font-awesome icons -->
	<!-- //Custom Theme files -->
	<!-- js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!-- web-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //web-fonts -->
	<body>
		<!-- banner -->
		<div class="agile-ipage-banner  banner-w3layouts">
			<!-- banner-info -->
			<div class="banner-agileinfo">
				<div class="container">
					<div class="w3header">
						<!--header-->
						<nav class="navbar navbar-default">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
								<h1><a href="index.html">passion</a></h1>
							</div>
							<!-- navbar-header -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
									<li><a href="index.html">Home</a></li>
									<li><a href="about.html" class="active">About</a></li>
									<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="icons.html">Web Icons</a></li>
											<li><a href="codes.html">Typography</a></li>
										</ul>
									</li>
									<li><a href="portfolio.html">Portfolio</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
								<div class="clearfix"> </div>
							</div>
						</nav>
					</div>
					<!-- //header -->
					<div class="banner-w3text-inner">
						<h2 class="text-center">photograpghy</h2>
						<div class="col-sm-4 col-xs-4 w3_agile-line1"><span></span></div>
						<div class="col-sm-4  col-xs-4 banner-w3text-title text-center">
							<p>my passion</p>
						</div>
						<div class="col-sm-4  col-xs-4 w3_agile-line2"><span></span></div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!-- //banner-info -->
			</div>
		</div>
		<!-- //banner -->
		<!-- about -->
		<div class="jarallax w3ls-section w3-about" id="about">
			<div class="container">
				<div class="about-main">
					<div class="col-md-6 w3_agileits-ab-main">
						<h3 class="agileits-title">about me</h3>
						<h4>Iam Layne passionate about photography. </h4>
						<h5>you dream about your photo,will become true with me.</h5>
						<p class="about-text-w3l col-md-6">Pellentesque accumsan cursus dui, sodales blandit urna sodal vitaepel entesque accumsan cursus dui,sod les blandit
							urna urna sodales vitae pellentesque accumsan cursus dui, sodales blan urna sodales vitae pellentesque accumsan cursus
							dui, sodales blan sodales vitae. Maece placerat eget mi vitae euismod. Du aliquam efficitur mi, et eleifend ye</p>
						<p class="about-text-w3l col-md-6">Pellentesque accumsan cursus dui, sodales blandit urna sodal vitaepel entesque accumsan cursus dui,sod les blandit
							urna urna sodales vitae Pellentesque accumsan cursus dui, sodales blan urna sodales vitae pellentesque accumsan cursus
							dui, sodales blan sodales vitae. Maece placerat eget mi vitae euismod. Du aliquam efficitur mi, et eleifend.</p>
						<div class="clearfix"></div>
					</div>
					<div class="w3ls-about-right col-md-6">
						<img class="img-responsive" src="images/2.jpg" alt="about-image" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="text-center agileinfo-about-grid">
					<div class="col-md-4 col-xs-6 w3ls-about-grid">
						<span class="fa fa-picture-o" aria-hidden="true"></span>
						<h6>Portrait photoshoot</h6>
						<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
					</div>
					<div class="col-md-4 col-xs-6 w3ls-about-grid about-2">
						<span class="fa fa-heart" aria-hidden="true"></span>
						<h6>Wedding photography</h6>
						<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
					</div>
					<div class="col-md-4 col-xs-6 w3ls-about-grid">
						<span class="fa fa-car" aria-hidden="true"></span>
						<h6>Travel photography</h6>
						<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //about -->
		<!-- stats -->
		<div class="stats">
			<div class="container">
				<div class="stats-info">
					<div class="col-md-3 col-sm-3 stats-grid">
						<i class="fa fa-shopping-bag" aria-hidden="true"></i>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='2000' data-delay='.5' data-increment="1">1200</div>
						<h4 class="stats-info">finished projects</h4>
					</div>
					<div class="col-md-3 col-sm-3 stats-grid">
						<i class="fa fa-smile-o" aria-hidden="true"></i>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1900' data-delay='.5' data-increment="1">3000</div>
						<h4 class="stats-info">happy clients</h4>
					</div>
					<div class="col-md-3 col-sm-3 stats-grid">
						<i class="fa fa-building" aria-hidden="true"></i>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='113' data-delay='.5' data-increment="10">9000</div>
						<h4 class="stats-info">branches</h4>
					</div>
					<div class="col-md-3 col-sm-3 stats-grid">
						<i class="fa fa-book" aria-hidden="true"></i>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='169' data-delay='.5' data-increment="1">169</div>
						<h4 class="stats-info">working hours</h4>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //stats -->
		<!-- Popular -->

		<!-- news -->
		<!-- news -->
		<div id="news" class="w3ls-section services news">
			<div class="container">
				<h3 class="agileits-title">what i capture</h3>
				<div class="news-agileinfo">
					<div class="col-sm-4 news-w3lgrids">
						<div class="news-gridtext">
							<div class="news-w3img">
								<img src="images/a9.jpg" class="img-responsive zoom-img" alt="" />
							</div>
							<div class="news-w3imgtext">
								<h5 class="w3-agilep">Jan 12, 2017</h5>
								<h4>Nature photography </h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at sollicitudin.
									</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 news-w3lgrids">
						<div class="news-gridtext">
							<div class="news-w3img">
								<img src="images/a10.jpg" class="img-responsive zoom-img" alt="" />
							</div>
							<div class="news-w3imgtext">
								<h5 class="w3-agilep">March 4, 2017</h5>
								<h4>Fashion photography </h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at sollicitudin.
									</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 news-w3lgrids">
						<div class="news-gridtext">
							<div class="news-w3img">
								<img src="images/a3.jpg" class="img-responsive zoom-img" alt="" />
							</div>
							<div class="news-w3imgtext">
								<h5 class="w3-agilep">May 21, 2017</h5>
								<h4>Wildlife photography </h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at sollicitudin.
									</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 news-w3lgrids">
						<div class="news-gridtext">
							<div class="news-w3img">
								<img src="images/a4.jpg" class="img-responsive zoom-img" alt="" />
							</div>
							<div class="news-w3imgtext">
								<h5 class="w3-agilep">April 21, 2017</h5>
								<h4>Wedding photography</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at sollicitudin.
									</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 news-w3lgrids">
						<div class="news-gridtext">
							<div class="news-w3img">
								<img src="images/a2.jpg" class="img-responsive zoom-img" alt="" />
							</div>
							<div class="news-w3imgtext">
								<h5 class="w3-agilep">March 21, 2017</h5>
								<h4>Aerial photography </h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at sollicitudin.
									</p>
							</div>
						</div>
					</div>

					<div class="col-sm-4 news-w3lgrids">
						<div class="news-gridtext">
							<div class="news-w3img">
								<img src="images/a5.jpg" class="img-responsive zoom-img" alt="" />
							</div>
							<div class="news-w3imgtext">
								<h5 class="w3-agilep">April 21, 2017</h5>
								<h4>Underwater photography </h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at sollicitudin.
									</p>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="col-sm-4 news-w3lgrids">
						<div class="news-gridtext">
							<div class="news-w3img">
								<img src="images/a7.jpg" class="img-responsive zoom-img" alt="" />
							</div>
							<div class="news-w3imgtext">
								<h5 class="w3-agilep">April 21, 2017</h5>
								<h4>New Born photography </h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at sollicitudin.
									</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 news-w3lgrids">
						<div class="news-gridtext">
							<div class="news-w3img">
								<img src="images/a11.jpg" class="img-responsive zoom-img" alt="" />
							</div>
							<div class="news-w3imgtext">
								<h5 class="w3-agilep">April 21, 2017</h5>
								<h4>Bird photography </h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at sollicitudin.
									</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 news-w3lgrids">
						<div class="news-gridtext">
							<div class="news-w3img">
								<img src="images/a8.jpg" class="img-responsive zoom-img" alt="" />
							</div>
							<div class="news-w3imgtext">
								<h5 class="w3-agilep">April 21, 2017</h5>
								<h4>Food photography </h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida mauris non mi gravida, at sollicitudin.
									</p>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //news -->
		<!-- testimonials -->
		<div class="testimonials w3ls-section">
			<div class="container">
				<h3 class="agileits-title">testimonials</h3>
				<div class="w3_testimonials_grids">
					<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="w3_testimonials_grid">
										<div class="testimonial-left">
											<i class="fa fa-user" aria-hidden="true"></i>
										</div>
										<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus, omnis
											voluptas.</p>
										<h5>John Frank</h5>
									</div>
								</li>
								<li>
									<div class="w3_testimonials_grid">
										<div class="testimonial-left">
											<i class="fa fa-user" aria-hidden="true"></i>
										</div>
										<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus, omnis
											voluptas.</p>
										<h5>Michael Doe</h5>
									</div>
								</li>
								<li>
									<div class="w3_testimonials_grid">
										<div class="testimonial-left">
											<i class="fa fa-user" aria-hidden="true"></i>
										</div>
										<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus, omnis
											voluptas.</p>
										<h5>Thomas Carl</h5>
									</div>
								</li>
							</ul>
						</div>
					</section>

				</div>
			</div>
		</div>
		<!-- //Testimonials -->
		<div class="w3_agile-copyright text-center">
			<p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		</div>
		<!-- Numscroller -->
		<script type="text/javascript" src="js/numscroller-1.0.js"></script>
		<!-- //Numscroller -->
		<!-- flexSlider -->
		<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
		<script defer src="js/jquery.flexslider.js"></script>
		<script type="text/javascript">
			$(window).load(function () {
				$('.flexslider').flexslider({
					animation: "slide",
					start: function (slider) {
						$('body').removeClass('loading');
					}
				});
			});
		</script>
		<!-- //flexSlider -->
		<script src="js/SmoothScroll.min.js"></script>
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/bootstrap.js"></script>
	</body>
</html>